.box1{
    border: 2px solid rgb(229, 211, 211);
    background-color: rgb(61, 194, 217);
    color:aliceblue;
    text-align: center;
    font-weight: bold;
    width: 500px;
    height: 70px;
    padding-top: 40px;
    font-size: 20px;
    border-bottom: 2px solid  rgb(61, 194, 217);}
    .box2{
    border: 2px solid rgb(230, 212, 212);
    background-color: aliceblue;
    color:black;
    width: 500px;
    height: auto;
    border-top:2px solid rgb(61, 194, 217);

}

#nhi{
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: larger;
}

